.food-safety-container {
    padding: 2rem;
  }
  
  .food-safety-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }
  
  .food-safety-table th,
  .food-safety-table td {
    border: 1px solid #6b176b;
    padding: 8px 12px;
    text-align: left;
  }
  
  .food-safety-table th {
    background-color: #f4f4f4;
  }
  
  .food-safety-table td {
    background-color: #880c78;
  }
  
  .food-safety-table tr:nth-child(even) td {
    background-color: #41083b;
  }
  
  .food-safety-table tr:hover td {
    background-color: #91188d;
  }
  