/* app.css */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content to the top */
  flex-grow: 1;
  padding: 20px;
  min-height: calc(100vh - 70px); /* Account for navbar height */
}

.login-container {
  background-color: #782f77;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(45, 11, 45, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto; /* Center it horizontally */
}
h1 {
  justify-content: center;}