.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-grow: 1;
  padding: 20px;
  min-height: calc(100vh - 70px); /* Account for navbar height */
}

.login-container {
  background-color: #782f77;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(77, 15, 77, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto; 
}
h1 {
  justify-content: center;}

  .App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Styling for the h2 element */
.login-container h2 {
  font-family: 'Arial', sans-serif; 
  font-size: 2rem; 
  font-weight: bold;
  text-align: center; 
  line-height: 1.5;
  color: #4caf50; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1.5rem; 
}

/* Add responsiveness */
@media (max-width: 600px) {
  .login-container h2 {
    font-size: 1.5rem; 
  }
}

  form {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    margin-top: 5px;
    padding: 5px;
    width: 80%;
    max-width: 400px;
  }
  /* All buttons */
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 1.2em;
  }
  
  /* Dog Image */
.dog-image-container {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  width: 100%; 
  max-width: 350px; 
  margin-left: auto; 
  margin-right: auto; 
}

/* Styling the image */
.dog-image {
  max-width: 300px; 
  border-radius: 8px; 
  width: 100%; 
}

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    header {
      text-align: center;
      margin-bottom: 20px;  
    }


h1 {
  font-family: 'Roboto', sans-serif;  
  font-size: 3rem;                    
  font-weight: bold;
  color: #4CAF50;                     
  letter-spacing: 2px;                
  text-transform: uppercase;         
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

